
:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
* {
    box-sizing: inherit; 
    /* thuộc tính iherit sẽ giúp tất cả các element trong html
    kế thừa lại  */
}

html {
    /* ở đây, đơn vị trong web coppy là line-height là 16px
    dựa vào 1rem = 12px. nên khi ta quy ra 62.5 % thì 1.6 rem bằng 
    16px */
    /* sans-serif là 1 chủng không chân, còn roboto là font */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    /* những element nằm trong nó thì nó sẽ nằm ngang..wrap những thằng nằm trong hàng 
    sẽ xuống hàng khi bị bó screen*/
    display: flex;
    flex-wrap: wrap;
}

/* Animation */
/* tạo ra chuyển động  */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* modal */

.modal  {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}

.modal__body {
    margin: auto;
    position: relative;
    /* quyết định thứ tự hiện lên trong screen */
    z-index: 1;
    border-radius: 5px;
}